.logout {
  font-family: 'Quicksand';
  font-weight: 600;
  padding: 0 50px 0 0;
  font-size: 20px;
  text-decoration: none;
  border: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.search-button {
  margin: 0 auto;
  font-size: 20px;
  border-radius: 5px;
  background-color: lighten($color: #edcf63, $amount: 10%);
}

.settings {
  background-color: #668fff;
  color: white;
  border: none;
}

.publish {
  background-color: #668fff;
  color: white;
  border: none;
}
