.reading-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-title {
  position: relative;
  top: 0px;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.chapter-content-static {
  overflow-y: scroll;
  width: 90%;
}

.chapter-content-static p {
  color: whitesmoke;
  font-size: 24px;
  line-height: 40px;
}

.chapter-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1000px;
  position: relative;
  top: 130px;
  left: -40px;
}
.body-cover {
 // background-image: url("https://images.pexels.com/photos/1122639/pexels-photo-1122639.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  background-color: #cccccc;
  height: 700px;
  width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  top: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 3px 3px 5px 6px #ccc;
  z-index: 0;
}

.chapter-nav-btn {
  height: 40px;
  width: 40px;
  margin: 20px;
  color: black;
  border: none;
  font-size: 36px;
}

.chapter-nav-btn-disabled {
  height: 40px;
  width: 40px;
  margin: 20px;
  color: rgb(130, 130, 130);
  border: none;
  font-size: 36px;
}

.chapter {
  height: 600px;
}

.page-slider {
  height: 621px;
}
.chapter-text {
  position: relative;
  top: 20px;
  color: white;
  letter-spacing: 2px;
  font-size: large;
  font-family: "Quicksand";
  padding-right: 40px;
  font-weight:normal;
  font-style:normal;
  line-height: 1.4;
  text-align: center;
}
.chapter-heading {
  color: white;
  text-align: center;
}
